* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
      to right bottom,
      rgba(225, 238, 223, 0.8),
      rgba(190, 216, 207, 0.8)
    ),
    url(./images/dollarbill.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: Verdana;
  position: relative;
}
/* -------------------------------Header Section------------------------------- */
.logo-box {
  position: absolute;
  float: left;
  top: 5%;
  left: 2%;
}
.logo-box img {
  height: 5rem;
  border-radius: 50%;
}
.contact-box {
  position: absolute;
  left: 92%;
  top: 5%;
}
.contact-box a {
  color: #5095da;
  font-size: 1.5rem;
}
.contact-box a:active {
  color: #5095da;
}
.contact-box a:hover {
  color: #1570cd;
}
.header-text {
  color: #1570cd;
  display: inline-block;
  font-size: 1.2rem;
  position: absolute;
  top: 15%;
  left: 38%;
}

.input-box {
  font-size: 1.2rem;
  color: #1570cd;
  position: absolute;
  top: 30%;
  left: 37%;
}
.input-box input {
  font-size: 1rem;
  margin: 0.5rem auto 0.5rem auto;
}

/* ---------------------------------Button Section------------------------------- */
.button {
  margin-top: 2rem;
  position: absolute;
  top: 50%;
  left: 40%;
}
.btn {
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  background-color: #3d94f6;
  border-radius: 0.6rem;
  border: 0.1rem solid #337fed;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 3rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #1570cd;
}
.btn:hover {
  background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
  background-color: #1e62d0;
}
.btn:active {
  position: relative;
  top: 1px;
}
.result-box {
  color: #1570cd;
  font-size: 1.2rem;
  position: absolute;
  left: 45%;
  top: 46%;
}

/* --------------------------Media Queries Section------------------------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .header-text h1 {
    font-size: 1rem;
    text-align: center;
  }
  .input-box {
    left: 20%;
  }
  .button {
    top: 60%;
    left: 20%;
  }
  .result-box {
    top: 53%;
  }
}
